{
  "app": {
    "movie-send": true,
    "connection-try": 5,
    "movie-length": 10,
    "system-shutdown": true,
    "light-on": true
  },
  "connections": {
    "remote-server": {
      "host": "",
      "port": "",
      "user": "",
      "pass": ""
    },
    "remote-pi": {
      "host": "",
      "user": ""
    }
  },
  "gpio": {
    "led-red": 6,
    "led-green": 13,
    "button-off":5,
    "button-status": 19,
    "button-display": 26,
    "detector-move": 18,
    "lcd-light": 21,
    "lcd-rs": 20,
    "lcd-e": 19,
    "lcd-data-1": 12,
    "lcd-data-2": 25,
    "lcd-data-3": 24,
    "lcd-data-4": 23
  }
}
