{
  "app": {
    "movie_send": true,
    "image_send": true,
    "movie_length": 10,
    "system_shutdown": true,
    "light_on": true,
    "log_path": "~/projects/RPiAS/var/log",
    "movie_path": "~/projects/RPiAS/var/movie",
    "img_path": "~/projects/RPiAS/var/img",
    "led_red": 22,
    "led_green": 13,
    "json_log": false,
    "shutdown_command": "sudo shutdown -h now",
    "worker_enabled": true,
    "security_key": "",
    "position": {
      "lt": 0,
      "gt": 0
    },
    "gpio_enabled": true,
    "system_name": "",
    "mongo_connection_timeout": 5000
  },
  "workers": {
    "commandConsumer": {
      "worker_time": 60000,
      "commands_get": "",
      "commands_set": "",
      "security_key": ""
    },
    "system": {
      "worker_time": 60000,
      "data_collector": "",
      "security_key": ""
    },
    "error_led": {
      "worker_time": 1000
    },
    "autoIlluminate": {
      "worker_time": 60000,
      "minimalTime": "19:00",
      "turnOn": "17:30",
      "shutDownTime": "22:10"
    }
  },
  "connections": {
    "remote_server": {
      "host": "",
      "port": "",
      "user": "",
      "pass": ""
    },
    "remote_pi": {
      "host": "",
      "user": ""
    },
    "redis": {
      "host": "127.0.0.1",
      "port": 6379,
      "password": ""
    },
    "mongo_db": {
      "host": "localhost",
      "port": 27017,
      "db": "rpias"
    }
  },
  "alert_gpio": {
    "mode":"image",
    "arm_led":11,
    "arm_after":10,
    "button_off":6,
    "button_armed":5,
    "button_status": 19,
    "button_display": 26,
    "detector_move": 18,
    "system_armed": 10,
    "lcd_cols": 16,
    "lcd_rows": 2,
    "lcd_light": 27,
    "lcd_rs": 20,
    "lcd_e": 16,
    "lcd_data_1": 17,
    "lcd_data_2": 25,
    "lcd_data_3": 24,
    "lcd_data_4": 23,
    "camera": {
      "timeout": 10000,
      "width": 1024,
      "height": 768,
      "bitrate": 5000000,
      "framerate": 15,
      "interval": 250
    },
    "image": {
      "encoding": "jpg",
      "width": 1024,
      "height": 768,
      "timelapse": 200,
      "timeout": 3600000
    },
    "server_destination": ""
  },
  "illuminate_gpio": {
    "pin_1": 10,
    "pin_2": 9,
    "pin_3": 12,
    "pin_4": 13,
    "transmitter": "low|high"
  },
  "illuminate": "new",
  "illuminate_special": {
    "1": [1, 6],
    "5": [1, 3],
    "8": [15],
    "11": [1, 11],
    "12": [25, 26]
  },
  "commands": {
    "date": "date +\"%Y-%m-%d %T\"",
    "cpu_utilization": "cat /var/log/proc.log",
    "memory_free": "free | grep 'Mem\\|Pamięć' | awk '{print ($2-$3) / $2 * 100.0}'",
    "memory_used": "free | grep 'Mem\\|Pamięć' | awk '{print $3/$2 * 100.0}",
    "uptime_p": "uptime -p",
    "uptime_s": "uptime -s",
    "system_load": "cat /proc/loadavg | awk '{print $1,$2,$3}'",
    "process_number": "ps -Af --no-headers | wc -l",
    "disk_utilization": "iostat -d /dev/sda | sed -n \"4p\"",
    "network_utilization": "ifstat -i enp2s0 -q 1 1 | tail -1",
    "logged_in_users": "users",
    "logged_in_users_count": "users | wc -w",
    "users_work": "w -h",
    "hostname": "hostname",
    "ip_internal": "hostname -I | xargs -n1 | head -1",
    "ip_external": "wget http://ipinfo.io/ip -qO -",
    "disk_usage": "df -h | grep ^/",
    "extra": {
      "illuminate_status": "redis-cli get rpia_illuminate_status"
    }
  },
}
